body{
    background: yellow;
    font-family: 'Open Sans', sans-serif;
}
#cv{
    width: 900px;
    margin:0 auto;
    margin-top: 20px;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    
}

#profile{
    
    background: #1e1e1e;
    color:aqua;
    padding: 25px;
}

#intro{
    
    display: flex;
    border-bottom: 1px solid #a5a5a5;
    align-items: center
    
}

#intro img{

    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right:20px;

}

#intro header {
    margin-right: 25px;
    text-transform: uppercase;
}

#intro header h1{
    font-weight: 300;
    color:#fff;
    font-size: 25px;
    margin:0;
}

#intro header h2{
    font-weight: 600;
    color:#d07628;
    font-size: 40px;
    margin:0;
}

#intro header h3{
    font-weight: 400;
    color:#fff;
    margin:0;
}

#about{
    border-left: 2px solid #a5a5a5;
    padding:15px;
    width:350px;
    margin-bottom: 10px;

}

#contact-info{
    display:flex;

}

#contact-info ul {
    list-style: none;
}

#contact-info ul:first-child{
    font-weight: 600;
}

#social-networks {
    
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#social-networks a{
    color:whitesmoke;
    text-decoration: none;
}



#cv2{
    width: 900px;
    margin:0 auto;
    display: flex;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
} 


#white{
    width:600px;
    display:flex;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    background: white;
}

#experience{
    width:200px;
   
}

#extension{
    width:400px;
    margin-left: 50px;
    

}


#skills {
    width:inherit;
    
    
}
#skills h1{
    text-transform: uppercase;
    font-size: 20px;
    margin:0;
    color: darkgrey;
    margin-bottom: 10px;
    
}


#pro{
    background: cyan;
   padding:20px;
	overflow:hidden;

    
    
}

#line{
    float:left;
        background: cyan;
    font-size: 15px;
	width:100px;
 
}
#line2{
    float:left;
        background: red;
    font-size: 15px;
	width:100px;
 
}


#bar{
    width:210px;
    margin-left:90px;
    background: cyan;
    height:80px;

}

#bar2{
    width:210px;
    margin-left:90px;
    background: red;
    height:80px;



}



#pre{
    background: red;
    padding: 10px;
    overflow:hidden;
    text-align: left;
    
}

#experience h1{
    text-transform: uppercase;
    font-size: 20px;
    margin:0;
    color: darkgrey;
    
    
}


#cv3{
    background: #DCDCDC;
    width: 900px;
    margin:0 auto;
    display: flex;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    
    
}

#edhead{
    padding-left: 10px;
    
}

#edextention{
    padding-left: 20px;
    
    
}

#cv4{
    background: white;
    width: 900px;
    margin:0 auto;
    display: flex;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    
    
}

#hobbies{
    padding-left: 20px;
    padding-right:400px
    

}


#language{
    width:inherit;

    
}


.progress-container{
    width:90%;
    height:0.6em;
    position:sticky;
    background-color:#f1f1f1;
    margin-bottom: 15px;
   
    
    
}



.progressbar{
    background-color:#757575;
    height:100%;
    position:absolute;
}


.round-xlarge{
    border-radius:16px!important
}




































